<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream AI | Billings</title>
</head>

<body>
    <style>
        body {
            background-image: url("/images/bg.jpg");
            background-size: cover;
        }
    </style>
    <script type="text/javascript">
        if (typeof iyziInit == 'undefined') {
            var iyziInit = {
                currency: "TRY",
                token: "b7eb12af-b631-44a9-9e98-122829c1f3c9",
                price: 10,
                locale: "tr",
                baseUrl: "https://sandbox-api.iyzipay.com",
                merchantGatewayBaseUrl: "https://sandbox-merchantgw.iyzipay.com",
                registerCardEnabled: true,
                bkmEnabled: false,
                bankTransferEnabled: false,
                bankTransferTimeLimit: { "value": 5, "type": "day" },
                bankTransferRedirectUrl: "https://www.merchant.com/callback",
                bankTransferCustomUIProps: {},
                campaignEnabled: false,
                campaignMarketingUiDisplay: null,
                paymentSourceName: "",
                plusInstallmentResponseList: null,
                payWithIyzicoSingleTab: false,
                payWithIyzicoOneTab: false,
                mixPaymentEnabled: true,
                creditCardEnabled: true,
                bankTransferAccounts: [],
                userCards: [],
                fundEnabled: false,
                memberCheckoutOtpData: {},
                force3Ds: false,
                isSandbox: true,
                storeNewCardEnabled: true,
                paymentWithNewCardEnabled: true,
                enabledApmTypes: [],
                payWithIyzicoUsed: false,
                payWithIyzicoEnabled: true,
                payWithIyzicoCustomUI: {},
                buyerName: "John",
                buyerSurname: "Doe",
                merchantInfo: "https://iyzico.com",
                merchantName: "Sandbox Merchant Name - 47818",
                cancelUrl: "",
                buyerProtectionEnabled: false,
                hide3DS: false,
                gsmNumber: "",
                email: "email@email.com",
                checkConsumerDetail: {},
                subscriptionPaymentEnabled: false,
                ucsEnabled: false,
                fingerprintEnabled: false,
                payWithIyzicoFirstTab: false,
                creditEnabled: false,
                payWithIyzicoLead: false,
                goBackUrl: "", metadata: {},
                createTag: function () {
                    var iyziJSTag = document.createElement('script');
                    iyziJSTag.setAttribute('src', 'https://sandbox-static.iyzipay.com/checkoutform/v2/bundle.js?v=1690555676454');
                    document.head.appendChild(iyziJSTag);
                }
            };
            iyziInit.createTag();
        }</script>
</body>

</html>