<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>

<body>
    <!-- 
    <div>
        <%- //locals.form %>
    </div>

    <div id="iyzipay-checkout-form" class="responsive"></div>

    -->

    <script src="https://www.paytr.com/js/iframeResizer.min.js"></script>
    <iframe src="https://www.paytr.com/odeme/guvenli/iframe_token" id="paytriframe" frameborder="0" scrolling="no"
        style="width: 100%;"></iframe>
    <script>iFrameResize({}, '#paytriframe');</script>

    <style>
        body {
            background-image: url("/images/bg.jpg");
            background-size: cover;
        }
    </style>
</body>

</html>